<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {dashboardActive: true}) %>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                <h1 class="h3 mb-0 text-gray-800 fw-bold">Unwind Tournament Dashboard</h1>
            </div>

            <div class="row mt-5">
                <!-- Kills -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostKills.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostKills.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostKills.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Deaths -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.mostDeaths.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.mostDeaths.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostDeaths.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-skull fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Assists % -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-info"><%= dashboard.mostAssists.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        <%= dashboard.mostAssists.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostAssists.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Highest KD -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.highestKD.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.highestKD.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.highestKD.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Enemies Flashed -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><%= dashboard.mostEnemiesFlashed.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        <%= dashboard.mostEnemiesFlashed.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostEnemiesFlashed.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Teamates Flashed -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.mostTeammatesFlashed.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.mostTeammatesFlashed.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostTeammatesFlashed.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Highest Flash Duration -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.highestFlashDuration.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.highestFlashDuration.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= Math.round(dashboard.highestFlashDuration.value) %> Seconds</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Highest Team Flash Duration -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.highestTeamFlashDuration.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.highestTeamFlashDuration.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= Math.round(dashboard.highestTeamFlashDuration.value) %> Seconds</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Highest Headshot % -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.highestHS.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1"><%= dashboard.highestHS.playerName %>
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= dashboard.highestHS.value %> %
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     style="width: <%= dashboard.highestHS.value %>%"
                                                     aria-valuenow="<%= dashboard.highestHS.value %>"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Highest ADR % -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.highestADR.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.highestADR.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.highestADR.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Flash Assists % -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><%= dashboard.mostFlashAssists.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        <%= dashboard.mostFlashAssists.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostFlashAssists.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MVP -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostMvp.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostMvp.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostMvp.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-medal fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Utility Damage % -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostUtilityDamage.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostUtilityDamage.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostUtilityDamage.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Team Damage -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.mostTeamDamage.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.mostTeamDamage.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostTeamDamage.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Team Utility Damage -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.mostTeamUtilityDamage.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.mostTeamUtilityDamage.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostTeamUtilityDamage.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Team Kills -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.mostTeamKills.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.mostTeamKills.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostTeamKills.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- Most No Scope Kills -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostNoScopeKills.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostNoScopeKills.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostNoScopeKills.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Wallbang Kills-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostWallbangKills.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostWallbangKills.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostWallbangKills.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Kills While Flashed -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostKillsWhileFlashed.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostKillsWhileFlashed.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostKillsWhileFlashed.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-eye-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Kills Through Smoke -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostSmokeKills.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostSmokeKills.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostSmokeKills.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cloud fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Most Fall Damage % -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger"><%= dashboard.mostFallDamage.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                        <%= dashboard.mostFallDamage.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostFallDamage.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-parachute-box fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Highest Kill Reward Earned -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.highestKillReward.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.highestKillReward.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">$ <%= dashboard.highestKillReward.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most 1v5 clutches -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostOneVFiveClutches.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostOneVFiveClutches.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostOneVFiveClutches.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most 1v4 clutches -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostOneVFourClutches.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostOneVFourClutches.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostOneVFourClutches.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users-slash fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Most Aces -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostFiveKillRounds.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostFiveKillRounds.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostFiveKillRounds.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most 4K's -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostFourKillRounds.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostFourKillRounds.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostFourKillRounds.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most 3K's -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostThreeKillRounds.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostThreeKillRounds.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostThreeKillRounds.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most 2K's -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostTwoKillRounds.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostTwoKillRounds.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostTwoKillRounds.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Highest Clutch Percentage -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostOneVOnes.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostOneVOnes.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostOneVOnes.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most 1V2 -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostOneVTwos.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostOneVTwos.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostOneVTwos.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Bombs Planted-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostBombsPlanted.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostBombsPlanted.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostBombsPlanted.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bomb fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Bombs Defused -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success"><%= dashboard.mostBombsDefused.key %></h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <%= dashboard.mostBombsDefused.playerName %>
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= dashboard.mostBombsDefused.value %></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-peace fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
