<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {teamsActive: true}) %>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">CSGO Teams</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="teamsDataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Team Name</th>
                                        <th>Total Games</th>
                                        <th>Total Wins</th>
                                        <th>Total Losses</th>
                                        <th>Total Rounds</th>
                                        <th>Round Difference</th>
                                        <th>Form</th>
                                        <th>Win %</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i = 0; i < teams.length; i++){ %>
                                        <tr>
                                            <td class="fw-bold"><a href="/team/<%= teams[i].teamName %>" class="fw-bold"
                                                                   role="button"><%= teams[i].teamName %></a></td>
                                            <td style="width: 10%"><%= teams[i].totalGames %></td>
                                            <td style="width: 7%"><%= teams[i].totalWins %></td>
                                            <td style="width: 7%"><%= teams[i].totalLosses %></td>
                                            <td style="width: 10%"><%= teams[i].totalRounds %></td>
                                            <% if (teams[i].roundDifference > 0) {%>
                                                <td style="width: 10%" class="text-success">+<%= teams[i].roundDifference %></td>
                                            <% }%>
                                            <% if (teams[i].roundDifference < 0) {%>
                                                <td style="width: 10%" class="text-danger"><%= teams[i].roundDifference %></td>
                                            <% }%>
                                            <% if (teams[i].roundDifference === 0) {%>
                                                <td style="width: 10%"><%= teams[i].roundDifference %></td>
                                            <% }%>
                                            <td style="width: 14%">
                                                <% for (var j = teams[i].matchHistory.length - 1; j >= 0 && j >= teams[i].matchHistory.length - 6 ; j--) { %>
                                                    <% if (teams[i].matchHistory[j].result === 1) { %>
                                                        <a class="btn btn-sm btn-circle btn-success">W</a>
                                                    <% } %>
                                                    <% if (teams[i].matchHistory[j].result === -1) { %>
                                                        <a class="btn btn-sm btn-circle btn-danger">L</a>
                                                    <% } %>
                                                <% } %>
                                            </td>
                                            <td><%= teams[i].winPercentage %>%</td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
<script>
    $(document).ready(function () {
        $('#teamsDataTable').DataTable({
            "order": [[5, "desc"],[4, "desc"],[1, "desc"]],
            "pageLength": 25
        });
    });
</script>

