<div class="row">
    <% for(var i = 0; i < guns.length; i++){ %>
        <% if (guns[i].players.length > 0) { %>
            <div class="col-xl-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#gun<%= guns[i].name %>Collapse" data-bs-toggle="collapse"
                       class="d-block card-header py-3 collapsed text-uppercase"
                       role="button" aria-expanded="false" aria-controls="round1Collapse"
                       data-bs-target="#gun<%= guns[i].name %>Collapse">
                        <h6 class="m-0 font-weight-bold text-primary">
                            <%= guns[i].name %></h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="gun<%= guns[i].name %>Collapse">
                        <div class="card-body">

                            <% for(var j = 0; j < guns[i].players.length; j++){ %>
                                <% if (guns[i].players[j].gunsKills > 0) { %>
                                    <h4 class="small font-weight-bold text-uppercase"><%= guns[i].players[j].name %>
                                        <span class="float-right"><%= guns[i].players[j].gunsKills %> Kill(s) - (<%= Math.round(((guns[i].players[j].gunsHeadshots / guns[i].players[j].gunsKills) + Number.EPSILON) * 100) %>% HS)</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: <%= Math.round(((guns[i].players[j].gunsKills / guns[i].players[0].gunsKills) + Number.EPSILON) * 100) %>%"
                                             aria-valuenow=" <%= Math.round(((guns[i].players[j].gunsKills / guns[i].players[0].gunsKills) + Number.EPSILON) * 100) %>"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</div>
