<% for(var i = matchHistory.length - 1; i >= 0 ; i--){ %>

    <% if (team.teamName === matchHistory[i].team1Name) { %>
        <% if (matchHistory[i].team1Score > matchHistory[i].team2Score) { %>
            <div onclick="window.location = '/match/<%= matchHistory[i].id%>'"
                 class="row hoverRow bg-success text-white"
                 style="height: 70px; line-height: 70px; text-align: center; cursor: pointer; border-radius: 8px; margin-bottom: 3px">
                <div class="col-3">
                    <%= matchHistory[i].date.split("T")[0] %>
                </div>
                <div class="col-2">
                    <img height="65px" src="https://static.csgostats.gg/images/maps/icons/<%= matchHistory[i].map %>.png">
                </div>
                <div class="col-4">
                    <span class="fw-bold text-white"><%= matchHistory[i].team2Name %></span>
                </div>
                <div class="col-3">
                    <a href="#" class="btn btn-dark btn-circle  btn-lg"><small class="text-white"><%= matchHistory[i].team1Score %>:<%= matchHistory[i].team2Score %></small></a>
                </div>
            </div>
        <% } %>
        <% if (matchHistory[i].team1Score < matchHistory[i].team2Score) { %>
            <div onclick="window.location = '/match/<%= matchHistory[i].id%>'"
                 class="row hoverRow bg-danger text-white"
                 style="height:70px; line-height: 70px; text-align: center; cursor: pointer; border-radius: 8px; margin-bottom: 3px">
                <div class="col-3">
                    <%= matchHistory[i].date.split("T")[0] %>
                </div>
                <div class="col-2">
                    <img height="65px" src="https://static.csgostats.gg/images/maps/icons/<%= matchHistory[i].map %>.png">
                </div>
                <div class="col-4">
                    <span class="fw-bold text-white"><%= matchHistory[i].team2Name %></span>
                </div>
                <div class="col-3">
                    <a href="#" class="btn btn-dark btn-circle btn-lg"><small class="text-white"><%= matchHistory[i].team1Score %>:<%= matchHistory[i].team2Score %></small></a>
                </div>
            </div>
        <% } %>
    <% } %>

    <% if (team.teamName === matchHistory[i].team2Name) { %>
        <% if (matchHistory[i].team2Score > matchHistory[i].team1Score) { %>
            <div onclick="window.location = '/match/<%= matchHistory[i].id%>'"
                 class="row hoverRow bg-success text-white"
                 style="height: 70px; line-height: 70px; text-align: center; cursor: pointer; border-radius: 8px; margin-bottom: 3px">
                <div class="col-3">
                    <%= matchHistory[i].date.split("T")[0] %>
                </div>
                <div class="col-2">
                    <img height="65px" src="https://static.csgostats.gg/images/maps/icons/<%= matchHistory[i].map %>.png">
                </div>
                <div class="col-4">
                    <span class="fw-bold text-white"><%= matchHistory[i].team1Name %></span>
                </div>
                <div class="col-3">
                    <a href="#" class="btn btn-dark btn-circle btn-lg"><small class="text-white"><%= matchHistory[i].team2Score %>:<%= matchHistory[i].team1Score %></small></a>
                </div>
            </div>
        <% } %>
        <% if (matchHistory[i].team2Score < matchHistory[i].team1Score) { %>
            <div onclick="window.location = '/match/<%= matchHistory[i].id%>'"
                 class="row hoverRow bg-danger text-white"
                 style="height: 70px; line-height: 70px; text-align: center; cursor: pointer; margin-bottom: 3px; border-radius: 8px">
                <div class="col-3">
                    <%= matchHistory[i].date.split("T")[0] %>
                </div>
                <div class="col-2">
                    <img height="65px" src="https://static.csgostats.gg/images/maps/icons/<%= matchHistory[i].map %>.png">
                </div>
                <div class="col-4">
                    <span class="fw-bold text-white"><%= matchHistory[i].team1Name %></span>
                </div>
                <div class="col-3">
                    <a href="#" class="btn btn-dark btn-circle btn-lg"><small class="text-white"><%= matchHistory[i].team2Score %>:<%= matchHistory[i].team1Score %></small></a>
                </div>
            </div>
        <% } %>
    <% } %>
<% } %>

