<div class="table-responsive">
    <table class="table table-bordered" id="playersDataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>K/D</th>
            <th>+/-</th>
            <th>ADR</th>
            <th>Headshot %</th>
            <th>Clutch %</th>
            <th>Entry %</th>
            <th>MVP's</th>
            <th>Win %</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>K/D</th>
            <th>+/-</th>
            <th>ADR</th>
            <th>Headshot %</th>
            <th>Clutch %</th>
            <th>Entry %</th>
            <th>MVP's</th>
            <th>Win %</th>
        </tr>
        </tfoot>
        <tbody>
        <% for(var i = 0; i < players.length; i++){ %>
            <tr>
                <td class="fw-bold"><a href="/player/<%= players[i].id %>" class="fw-bold"
                                       role="button"><%= players[i].name %></a></td>
                <td><%= players[i].kills %></td>
                <td><%= players[i].deaths %></td>
                <td><%= players[i].assists %></td>
                <td><%= players[i].kd %></td>
                <% if (players[i].kills - players[i].deaths > 0) { %>
                    <td class="text-success">+<%= players[i].kills - players[i].deaths %></td>
                <% } %>
                <% if (players[i].kills - players[i].deaths < 0) { %>
                    <td class="text-danger"><%= players[i].kills - players[i].deaths %></td>
                <% } %>
                <% if (players[i].kills - players[i].deaths === 0) { %>
                    <td>+<%= players[i].kills - players[i].deaths %></td>
                <% } %>
                <td><%= players[i].adr %></td>
                <td><%= players[i].headshotPercentage %>%</td>
                <td><%= players[i].clutchPercentage %> %</td>
                <td><%= players[i].entrySuccess %> %</td>
                <td><%= players[i].mvp %></td>
                <td><%= Math.round(((players[i].totalWins / players[i].totalGames) + Number.EPSILON) * 100) %>
                    %
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
