<div class="row">
    <div style="width: 2%; float: left"></div>
    <% for(var i = 0; i < match.rounds.length; i++){ %>
        <% var ctAlive = 5; %>
        <% var tAlive = 5; %>
        <% for(var j = 0; j < match.rounds[i].kills.length; j++){ %>
            <% if (match.rounds[i].kills[j].killedTeamName === 'CT') { %>
                <% ctAlive = ctAlive - 1 %>
            <% } %>
            <% if (match.rounds[i].kills[j].killedTeamName === 'TERRORIST') { %>
                <% tAlive = tAlive - 1 %>
            <% } %>
        <% } %>
        <% if (match.rounds[i].roundNumber <= 15 && match.rounds.length < 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left; margin-bottom: 3px">
                <div class="player-bar <%= ctAlive > 4 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 3 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 2 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 1 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 0 ? 'survived' : '' %> ct"></div>
                <% if (match.rounds[i].reason === '7') { %>
                    <div class="round-image">
                        <img src="/win-defused.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '8') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '12') { %>
                    <div class="round-image">
                        <img src="/win-timeout.png" height="13px">
                    </div>
                <% } %>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber <= 15 && match.rounds.length > 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left; margin-bottom: 3px">
                <div class="player-bar <%= tAlive > 4 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 3 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 2 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 1 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 0 ? 'survived' : '' %> t"></div>
                <% if (match.rounds[i].reason === '9') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '1') { %>
                    <div class="round-image">
                        <img src="/win-bomb.png" height="13px">
                    </div>
                <% } %>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber > 15 && match.rounds[i].roundNumber < 34 && match.rounds.length > 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left; margin-bottom: 3px">
                <div class="player-bar <%= ctAlive > 4 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 3 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 2 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 1 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 0 ? 'survived' : '' %> ct"></div>
                <% if (match.rounds[i].reason === '7') { %>
                    <div class="round-image">
                        <img src="/win-defused.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '8') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '12') { %>
                    <div class="round-image">
                        <img src="/win-timeout.png" height="13px">
                    </div>
                <% } %>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber > 15 && match.rounds[i].roundNumber < 34 && match.rounds.length < 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left; margin-bottom: 3px">
                <div class="player-bar <%= tAlive > 4 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 3 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 2 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 1 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 0 ? 'survived' : '' %> t"></div>
                <% if (match.rounds[i].reason === '9') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '1') { %>
                    <div class="round-image">
                        <img src="/win-bomb.png" height="13px">
                    </div>
                <% } %>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber > 33 && match.rounds[i].roundNumber < 37) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left; margin-bottom: 3px">
                <div class="player-bar <%= tAlive > 4 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 3 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 2 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 1 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 0 ? 'survived' : '' %> t"></div>
                <% if (match.rounds[i].reason === '9') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '1') { %>
                    <div class="round-image">
                        <img src="/win-bomb.png" height="13px">
                    </div>
                <% } %>
            </div>
        <% } %>
    <% } %>
    <div style="width: 2%; float: left"></div>
</div>

<div class="row">
    <div class="mid-line"></div>
    <div style="position:absolute;margin-top: -10px;z-index:1;line-height: 10px;left: <%= ((96/match.rounds.length)*15) + 1.3 %>%;width: 11px;border-radius:100%;height: 20px;background: lightgray;font-size: 10px;font-weight:bold;color: black;padding-left: 11px;padding-top: 7px;padding-right: 12px;">
        <small class="round-text">15</small>
    </div>
    <% if (match.rounds.length > 30) {%>
        <div style="position:absolute;margin-top: -10px;z-index:1;line-height: 10px;left: <%= ((96/match.rounds.length)*30) + 1.3 %>%;width: 11px;border-radius:100%;height: 20px;background: lightgray;font-size: 10px;font-weight:bold;color: black;padding-left: 11px;padding-top: 7px;padding-right: 12px;">
            <small class="round-text">30</small>
        </div>
    <% } %>
</div>

<div class="row">
    <div style="width: 2%; float: left">
    </div>
    <% for(var i = 0; i < match.rounds.length; i++){ %>
        <div style="width: <%= 96/match.rounds.length%>%; float: left">
            <% if (match.rounds[i].roundNumber <= 15 && match.rounds.length < 30) { %>
                <% if (match.rounds[i].winner === '3' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; top:-51%; z-index:1; height:3px; border-radius:1px; text-align:center; background:#4A90E2"></div>
                <% } %>
                <% if (match.rounds[i].winner === '2' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; z-index:1; height:3px; border-radius:1px; text-align:center; background:#F5A623"></div>
                <% } %>
            <% } %>
            <% if (match.rounds[i].roundNumber <= 15 && match.rounds.length > 30) { %>
                <% if (match.rounds[i].winner === '3' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; z-index:1; height:3px; border-radius:1px; text-align:center; background:#4A90E2"></div>
                <% } %>
                <% if (match.rounds[i].winner === '2' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; top:-51%; z-index:1; height:3px; border-radius:1px; text-align:center; background:#F5A623"></div>
                <% } %>
            <% } %>
            <% if (match.rounds[i].roundNumber > 15 && match.rounds[i].roundNumber < 34) { %>
                <% if (match.rounds[i].winner === '3' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; z-index:1; height:3px; border-radius:1px; text-align:center; background:#4A90E2"></div>
                <% } %>
                <% if (match.rounds[i].winner === '2' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; top:-51%; z-index:1; height:3px; border-radius:1px; text-align:center; background:#F5A623"></div>
                <% } %>
            <% } %>
            <% if (match.rounds[i].roundNumber > 33 && match.rounds[i].roundNumber < 37) { %>
                <% if (match.rounds[i].winner === '3' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; top:-51%; z-index:1; height:3px; border-radius:1px; text-align:center; background:#4A90E2"></div>
                <% } %>
                <% if (match.rounds[i].winner === '2' ) { %>
                    <div style="width:100%;margin:auto; max-width:30px; position:relative; z-index:1; height:3px; border-radius:1px; text-align:center; background:#F5A623"></div>
                <% } %>
            <% } %>
        </div>
    <% } %>
    <div style="width: 2%; float: left">
    </div>
</div>

<div class="row">
    <div style="width: 2%; float: left"></div>
    <% for(var i = 0; i < match.rounds.length; i++){ %>
        <% var ctAlive = 5; %>
        <% var tAlive = 5; %>
        <% for(var j = 0; j < match.rounds[i].kills.length; j++){ %>
            <% if (match.rounds[i].kills[j].killedTeamName === 'CT') { %>
                <% ctAlive = ctAlive - 1 %>
            <% } %>
            <% if (match.rounds[i].kills[j].killedTeamName === 'TERRORIST') { %>
                <% tAlive = tAlive - 1 %>
            <% } %>
        <% } %>
        <% if (match.rounds[i].roundNumber <= 15 && match.rounds.length < 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left">
                <% if (match.rounds[i].reason === '9') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '1') { %>
                    <div class="round-image">
                        <img src="/win-bomb.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason !== '1' && match.rounds[i].reason !== '9') { %>
                    <div style="position: relative; margin-top: 24px"></div>
                <% } %>
                <div class="player-bar <%= tAlive > 0 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 1 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 2 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 3 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 4 ? 'survived' : '' %> t"></div>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber <= 15 && match.rounds.length > 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left">
                <% if (match.rounds[i].reason === '7') { %>
                    <div class="round-image">
                        <img src="/win-defused.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '8') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '12') { %>
                    <div class="round-image">
                        <img src="/win-timeout.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason !== '8' && match.rounds[i].reason !== '7' && match.rounds[i].reason !== '12') { %>
                    <div style="position: relative; margin-top: 24px"></div>
                <% } %>
                <div class="player-bar <%= ctAlive > 0 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 1 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 2 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 3 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 4 ? 'survived' : '' %> ct"></div>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber > 15 && match.rounds[i].roundNumber < 34 && match.rounds.length < 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left">
                <% if (match.rounds[i].reason === '7') { %>
                    <div class="round-image">
                        <img src="/win-defused.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '8') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '12') { %>
                    <div class="round-image">
                        <img src="/win-timeout.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason !== '8' && match.rounds[i].reason !== '7' && match.rounds[i].reason !== '12') { %>
                    <div style="position: relative; margin-top: 24px"></div>
                <% } %>
                <div class="player-bar <%= ctAlive > 0 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 1 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 2 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 3 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 4 ? 'survived' : '' %> ct"></div>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber > 15 && match.rounds[i].roundNumber < 34 && match.rounds.length > 30) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left">
                <% if (match.rounds[i].reason === '9') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '1') { %>
                    <div class="round-image">
                        <img src="/win-bomb.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason !== '1' && match.rounds[i].reason !== '9') { %>
                    <div style="position: relative; margin-top: 24px"></div>
                <% } %>
                <div class="player-bar <%= tAlive > 0 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 1 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 2 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 3 ? 'survived' : '' %> t"></div>
                <div class="player-bar <%= tAlive > 4 ? 'survived' : '' %> t"></div>
            </div>
        <% } %>
        <% if (match.rounds[i].roundNumber > 33 && match.rounds[i].roundNumber < 37) { %>
            <div style="width: <%= 96/match.rounds.length%>%; float: left">
                <% if (match.rounds[i].reason === '7') { %>
                    <div class="round-image">
                        <img src="/win-defused.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '8') { %>
                    <div class="round-image">
                        <img src="/win-eliminations.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason === '12') { %>
                    <div class="round-image">
                        <img src="/win-timeout.png" height="13px">
                    </div>
                <% } %>
                <% if (match.rounds[i].reason !== '8' && match.rounds[i].reason !== '7' && match.rounds[i].reason !== '12') { %>
                    <div style="position: relative; margin-top: 24px"></div>
                <% } %>
                <div class="player-bar <%= ctAlive > 0 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 1 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 2 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 3 ? 'survived' : '' %> ct"></div>
                <div class="player-bar <%= ctAlive > 4 ? 'survived' : '' %> ct"></div>
            </div>
        <% } %>
    <% } %>
    <div style="width: 2%; float: left"></div>
</div>
